*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
  background-color: lightblue;
}

.main{
  font-family: 'Courier New', Courier, monospace;
}

.heading{
  font-size: 3.5rem;
  padding-top: 4rem;
}

#textbox{
  margin-top: 4rem;
  vertical-align: middle;
  background: black;
  color: white;
  font-size: 1.5rem;
}

#count-area{
  margin-top: 3rem;
  vertical-align: middle;
}
